<div class="form-container-center">
  <form #signupForm="ngForm" (ngSubmit)="CreateUser()">
    <Fieldset>
      <legend>Sign up Form</legend>
      <div>
        <label><span class="required">*</span>Name</label>
        <input
          type="text"
          [(ngModel)]="user.name"
          #username="ngModel"
          name="username"
          required
        />
      </div>
      <div>
        <label><span class="required">*</span>Email</label>
        <input
          type="email"
          [(ngModel)]="user.email"
          #email="ngModel"
          name="email"
          required
          email
        />
      </div>
      <div>
        <label> &nbsp; Phone</label>
        <input
          type="text"
          [(ngModel)]="user.phone"
          name="phone"
          #phone="ngModel"
          pattern="[0-9]{10}"
        />
      </div>
      <div>
        <label><span class="required">*</span>Login Id</label>
        <input
          type="text"
          [(ngModel)]="user.loginId"
          #loginId="ngModel"
          name="loginId"
          required
          minlength="8"
        />
      </div>
      <div>
        <label><span class="required">*</span>Password</label>
        <input
          type="password"
          [(ngModel)]="user.password"
          #password="ngModel"
          name="password"
          required
          minlength="10"
        />
      </div>
      <div>
        <label><span class="required">*</span>Confirm Password</label>
        <input
          type="password"
          name="confirmPassword"
          #confirmPassword="ngModel"
          ngModel
          required
        />
      </div>

      <p
        class="errors"
        *ngIf="
            (username.touched ) && username.errors?.['required']
          "
      >
        User name is required
      </p>
      <p
        class="errors"
        *ngIf="
            (email.touched ) && email.errors?.['required']
          "
      >
        Email is required
      </p>
      <p
        class="errors"
        *ngIf="
            (email.touched ) && email.errors?.['email']
          "
      >
        Invalid email id
      </p>
      <p
        class="errors"
        *ngIf="
            (phone.touched ) && phone.errors?.['pattern']
          "
      >
        Invalid Phone number
      </p>

      <p
        class="errors"
        *ngIf="
            (loginId.touched ) && loginId.errors?.['required']
          "
      >
        Login Id is required
      </p>
      <p
        class="errors"
        *ngIf="
            (loginId.touched ) && loginId.errors?.['minlength']
          "
      >
        Login Id length should be atleast 8 character
      </p>
      <p
        class="errors"
        *ngIf="
            (password.touched ) && password.errors?.['required']
          "
      >
        Password is required
      </p>
      <p
        class="errors"
        *ngIf="
            (password.touched ) && password.errors?.['minlength']
          "
      >
        Password length should be atleast 10 character
      </p>

      <p
        class="errors"
        *ngIf="
            (confirmPassword.touched ) && confirmPassword.errors?.['required']
          "
      >
        Re-enter Password
      </p>
      <p
        class="errors"
        *ngIf="
          confirmPassword.touched && confirmPassword.value != password.value
        "
      >
        Passwords doesnot match
      </p>
      <p *ngIf="errorMessage" class="errors">
        {{ errorMessage }}
      </p>
      <input type="submit" [disabled]="!signupForm.valid" /><button
        (click)="Cancel()"
      >
        Cancel
      </button>
      <p>Already have an account? <a routerLink="/login">Log in </a></p>
    </Fieldset>
  </form>
</div>
