a {
  margin: 10px;
  padding: 5px;
}

a:hover {
  background-color: rgb(119, 160, 170);
  border-radius: 15px;
}
.active {
  background-color: rgb(81, 120, 143);
  border-radius: 15px;
  color: black;
}

.right {
  position: absolute;
  right: 2%;
  margin: 0px 10px;
  padding: 0px;
}

.greet {
  position: absolute;
  color: rgb(5, 74, 12);

  font-size: larger;
  left: 45%;
}

@media only screen and (max-width: 500px) {
  .right,
  .greet {
    position: relative;
  }
}
