.display {
  background-image: url("https://t3.ftcdn.net/jpg/01/11/59/14/360_F_111591496_UXgHMCrXZBOTF3ujWO2alMsYzCmZpBZA.jpg");
  background-size: contain;
  width: 500px;
  height: 400px;
  margin: auto;
}
.container {
  text-align: center;
}
